<html>
    <body>
        <a href="http://google.com">
            <button>hello</button>
        </a>
        <form>
            <input type="text" name="name" placeholder="Name"></input>
            <input type="text" name="email" placeholder="Email"></input>
            <select name="postion">
                <option value="1">First</option>
                <option value="2">Second</option>
                <option value="3">Third</option>
            </select>
            <input type="submit" value="Save"></input>
        </form>
    </body>
</html>